{%extends "layout.html"%}
{%block head%}

<header>
  <div class = "row">
    <div class = "col-md-3">
      <a href="/register">Register</a>
    </div>
    <div class = "col-md-3">
      <a href="/login">login</a>
    </div>
    <div class = "col-md-3">
      <a href="#">logout</a>
    </div>
    <div class = "col-md-3">
      <a href="/search">search</a>
    </div>
  </div>
</header>

{%endblock%}
{%block body%}
  <h1 class="message">Welcome to bookofy, please login to continue</h1>

{%endblock%}
