<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style media="screen">

      body {
        text-align:center;
        margin: 10%;
        background-color: lightyellow;
      }

      input{
        width:100px;
      }
      .form-control:hover{
        background-color:lightgrey;
      }


    </style>
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
      {%block body%}

      {% endblock %}
  </body>
</html>
