{% extends "users/base.html" %}

{% block title %}
Login
{% endblock %}

{% block body %}
<h1>Login!</h1>

{%if message%}
  <div class="">
      {{message}}
  </div>
{%endif%}

<form class = "form-group" action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <input placeholder ="username" class= "form-control" name="username" type="text"/>
    <input placeholder = "password" class= "form-control" name="password" type="password"/>
    <input class = "btn btn-primary" type="submit" value="Login"/>
</form>
<a href="{% url 'signup' %}">Not registered yet? Sign up</a>
{% endblock %}
