<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Administrator</title>
  </head>
  <body>
    <div class="p-3 order-1 bg-info">
        <h1>Pending Order</h1>
        <form class="form-group" action = "{%url 'administrators'%}" method="post">
            {% csrf_token %}
            <label for="username">Type</label>
            <select class="form-control" id="username" name="username">

                {% for data in users %}
                <option value = "{{data}}">{{data}}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary mb-2">Check</button>
          </form>
        </div>
  </body>
</html>
